//------------------------
//Les Variables
//------------------------

$primary : #e4c1f9;
$secondary: #f694c1;
$tertiary: #fdf0d5;
$grey: #D3D3D3;
$darkgrey: #264653;
$white: #FFF;
$mint: #d3f8e2;
$blue: #a9def9;

